<br/>
<h4 class="cent">
  <p><%= link_to "Repeat", dashboard_path%> </p>
</h4>
<br/>
<h3 class="cent">Results</h3>
<table class="table">
  <tr>
    <th>Amount right symbols</th>
    <th>Correct input percent</th>
    <th>Time</th>
    <th>Symbols per minute</th>
  </tr>
  <tr>
    <td><%= @k %></td>
    <% if @k != 0 then%>
      <td><%= @text_game.length / @k %></td>
    <%else%>
      <td><%= @k %></td>
    <%end%>
    <td><%= @del_time.round(2)%></td>
    <td><%= @wpm%></td>
  </tr>
</table>
