<% if @start_mes != 'You should choose game mod' then%>
  <div class = "container", style="background-color: #e6ffff;">
    <br/>
    <h4>
    <p class="noselect"> <%= @text_game %> </p>
    </h4>
    <br/>
  </div>
  <div class="cent">
    <%= form_with url: result_path do |form| %>
    <div class='form-group'>
      <%= form.text_field :n_s, class: 'form-control' %> <br/>
    </div>
    <div class='form-group'>
      <br/><%= form.submit("Enter", id: 'button-clck', class: "btn btn-warning btn-lg") %>
    </div>
    <% end %> 
  </div>
<%else%>
  <div class="cent">
    <div>
      <h3>
      <%= @start_mes%>
      </h3>
      <br/>
      <br/>
      <h5>
      <%= link_to "Repeat", dashboard_path%>
      </h5>
    <div>
    <br/>
    <br/>
    <br/>
    <br/>
    <br/>
    <br/>
    <br/>
    <br/>
    <br/>
    <br/>
    <br/>
    <br/>
    <br/>
    <br/>
    <br/>
    <br/>
    <br/>
    <br/>
    <br/>
    <br/>
    <br/>
    <br/>
    <br/>
  </div>
<% end %>