<h1>GameWords#input</h1>
<p>Find me in app/views/game_words/input.html.erb</p>
<p> <%= @text_game %> </p>
<%= form_with url: result_path do |form| %>
 <%= form.label("Input n:") %>
 <%= form.text_field(:n_s) %> <br/>
 <br/><%= form.submit("Enter", id: 'button-clck') %>
<% end %> 
<div id='result-container'></div>