<div class="pos">
  <div class="main_content">
    <h1 class="cent">Your progress 📈</h1>

    <div class="col-auto">
        <table class="table">
          <tbody>
            <tr>
              <th>№</th>
              <th>Date</th>
              <th>Symbols per minute</th>
            </tr>
            <% list_users = Action.all %>
            <% index = 0 %>
            <% list_users.length.times do |i| %>
              <% if list_users[i].user_id == current_user.id %>
                <tr>
                  <td><%= index += 1 %></td>
                  <td><%= list_users[i].created_at %></td>
                  <td><%= list_users[i].gen_results %></td>
                </tr>
              <% end %>
            <% end %>
          </tbody>
        </table>
      </div>
    </div>
    <br/>
    <div class="col-auto">
        <table class="table">
          <tbody>
            <tr>
              <th>№</th>
              <th>Date</th>
              <th>Time</th>
            </tr>
            <% list_users = ActionTime.all %>
            <% index = 0 %>
            <% list_users.length.times do |i| %>
              <% if list_users[i].user_id == current_user.id %>
                <tr>
                  <td><%= index += 1 %></td>
                  <td><%= list_users[i].created_at %></td>
                  <td><%= list_users[i].gen_time %></td>
                </tr>
              <% end %>
            <% end %>
          </tbody>
        </table>
      </div>
    </div>
    <br/>
    <br/>
    <br/>
    <br/>
    <br/>
    <br/>
    <br/>
    <br/>
    <br/>
    <br/>
    <br/>
    <br/>
    <br/>
    <br/>
    <br/>
    <br/>
    <br/>
  </div>
</div>